@{
    ViewBag.Title = "About";
}
<br /><br />
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Wellcome to Ahuva's website</p>

<p>@Html.ActionLink("Contact", "Contact")</p>
<p>@Html.ActionLink("About", "About")</p>
